Proyecto3TRIM/Baloncesto.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT test (question+)>
<!ELEMENT question (wording,choices)>
<!ELEMENT wording (#PCDATA)>
<!ELEMENT choices (choice+)>
<!ELEMENT choice (#PCDATA)>
 
<!ATTLIST question id CDATA #REQUIRED>
<!ATTLIST choice correct (yes|no) “no”>

<test>

  <question id="question_1">

      <wording>¿Que equipo tiene mas copas de europa?</wording>

      <choices>

          <choice  correct="yes">Real Madrid</choice>
          <choice>Manchester United</choice>
          <choice>Juventus</choice>
          <choice>F.C.Barcelona</choice>

      </choices>

      </question>

      <question id="question_2">

      <wording>¿Qué equipo se fundó primero?</wording>

      <choices>

      <choice  correct="yes">R.C.R.H El Recre</choice>
      <choice>Alavés</choice>
      <choice>Athletic Club de Bilbao</choice>
      <choice>Real Valladolid</choice>

      </choices>

      </question>

      <question id="question_3">

      <wording>¿Qué equipo nunca descendió de primera en la liga española?</wording>

      <choices>

      <choice  correct="yes">Athletic Club de BIlbao</choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>


      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>


      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>


      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>



      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>


      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>

      <question id="1">

      <wording></wording>

      <choices>

      <choice  correct="yes"></choice>
      <choice></choice>
      <choice></choice>
      <choice></choice>

      </choices>

      </question>
      
  </test>    
      
      